.nav-tabs .nav-link.active {
    border-color: black;
    border-bottom: 1px solid transparent;
}
.nav-tabs .nav-link {
    text-transform: capitalize;
}
.nav-tabs {
    border-color: black;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: black;
}
.option-wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.chooseStyle {
    padding: 1rem;
    color: #FFF;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid transparent;
}
.chooseStyle span {
    cursor: pointer;
}
input[type="radio"]:focus-visible + .chooseStyle {
    border: 2px solid red;
}
.chooseStyle:last-child() {
    margin-right: 0;
}
.chooseStyle span {
    padding: 0.5rem;
    background: black;
    border-radius: 0.5rem;
}
input[type="radio"]:checked + .chooseStyle span {
    background: white;
    color: black;
}
.img-wrapper {
    position: relative
}
.img-wrapper .color {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}